<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'vets')}">

<body>
	<h2>Vet Specialties</h2>
	<table id="vetSpecialties"
		class="table table-striped">
		<thead> 
			<tr> 
				<th>Name</th> 
			</tr> 
		</thead> 
		<tbody> 
			<tr th:each="specialty: ${specialties}">
				<td th:text="${specialty.name}" />
			</tr>
		</tbody>
	</table>
</body>
</html>
